<div class="card" *ngIf="temaActual">
  <div class="card-header">
    {{ temaActual.titulo }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ temaActual.tema }} - {{ temaActual.titulo }}</h5>
  </div>
  <ul class="list-group list-group-flush" *ngFor="let objetivo of temaActual.objetivos">
    <li class="list-group-item">{{objetivo}}</li>
  </ul>
  <div class="card-body">
    <button (click)="back()" class="btn btn-primary">Volver</button>
    <button routerLink="/editar-nuevo-tema/{{temaActual.tema}}" class="btn btn-success m-2">Editar tema</button>
  </div>
</div>
