<div class="shadow mb-4">
  <h1 class="text-center p-4 border-bottom">{{ title }}</h1>

  <ul class="nav">
    <li class="nav-item" routerLink="active bg-primary">
      <a class="nav-link active" aria-current="page" routerLink="Lista">Lista temas</a>
    </li>
    <li class="nav-item" routerLink="active bg-primary">
      <a class="nav-link" routerLink="nuevo-tema">Nuevo Tema</a>
    </li>
    <li class="nav-item" routerLink="active bg-primary">
      <a class="nav-link" routerLink="editar-nuevo-tema">Lista Completa</a>
    </li>
  </ul>
</div>
